<h1> Rock, Paper, Scissors</h1>
<h3>How Many Players?</h3>
<form action="/oneplayer" class="form-group">
<br>
</br>
<button type="submit" class="btn btn-default">One Player</button>
</form>
<form action="/twoplayer" class="form-group">
<br>
</br>
<button type="submit" class="btn btn-default">Two Player</button>
</form>
