<h1> Rock, Paper, Scissors</h1>
<h3>Choose rock, paper or scissors</h3>
<form action="/detector2" class="form-group">
<label>Player1
<select class="form-control" id="player1" name="player1">
  <option>rock</option>
  <option>paper</option>
  <option>scissors</option>
</select>
</label>
<br>
</br>
<button type="submit" class="btn btn-default">Submit</button>
</form>
